
@{
    ViewBag.Title = "Profile1";
}
@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}
<li>@Html.ActionLink("Личный кабинет", "PersonalInformation", "Account")
<li>@Html.ActionLink("Мои дома", "MyHouse", "Account") </li>
<li>@Html.ActionLink("Мои поездки", "MyTrips", "Account") </li>
