@media (max-width: 767px) {
  /*footer start*/
  footer h2{
    margin-top: 30px;
  }
  footer .row .col-md-3:first-child h2{
    margin-top: 0;
  }
  footer .share{
    margin-bottom: 30px;
  }
  /*footer end*/
    /*Form Reservation start*/
    .formReservation > input {
        min-width: 47%;
    }

    .formReservation {
        margin-top: 30px;
    }

    /*Form Reservation end*/

    /*Form Review start*/
    .formReview .formRowTop textarea {
        max-width: 88%;
    }
    .reviewItem .reviewContent {
        max-width: 67%;
    }
    /*Form Review end*/

    /*Slider Start*/
    /*.slider .sliderFooter > p {
        padding: 15px 12px !important;
        font-size: 14px !important;
    }

    .slider .sliderFooter .countUsers {
        padding-left: 4px !important;
    }*/
    /*Slider End*/
    /*Form Search start*/
    #searchForm input{
      margin-bottom: 15px !important;
      margin: 0;
    }
    #searchForm input[type="submit"]{
      margin-bottom: 0 !important;
    }
    .area{
      width: 100%;
      padding-right: 15px;
    }
    .searchBox .numPersons{
      margin-top: 25px;
    }
    .prices,.dates {
      width: 100%;
      font-size: 0;
    }
    .cell50_inp{
      width: 50%;
      display: inline-block;
      padding: 0 7.5px;
    }
    .cell100_inp{
      width: 100%;
      padding: 0 7.5px;
    }
    .searchBox .area input, .searchBox .numPersons,
    .cell50_inp input, .cell100_inp input{
      width: 100% !important;
    }
    #slider-range{
      margin-top: 10px;
    }
    .searchBox .area ul{
      width: calc(100% - 15px);
    }
    .totalItems span{
      display: none;
    }
    #searchForm .sortingItems ul li{
      margin-left: 0;
      margin-bottom: 15px;
      float: none;
    }
    #searchForm .sortingItems ul li:last-child{
      margin-bottom: 0;
    }
    .houses .houseItem div{
      display: block;
    }
    .houses .houseItem .imgBox{
      width: 100%;
    }
    .houses .houseItem .ContentBox{
      width: 100%;
      padding: 0;
      height: auto;
    }
    .houses .houseItem .ContentBox .nameHouse{
      margin-top: 10px;
    }
    .houses .houseItem .ContentBox .ratingHouse{
      position: static;
      margin-top: 15px;
    }
    .optionsHouse br{
      display: none;
    }
    .houses .houseItem .optionsHouse li{
      margin-right: 15px;
    }
    /*Form Search end*/
}

@media (min-width: 768px) and (max-width: 991px) {
  /*footer start*/
  footer h2{
    margin-top: 30px;
  }
  footer .row .col-md-3:first-child h2{
    margin-top: 0;
  }
  footer .share{
    margin-bottom: 30px;
  }
  /*footer end*/
    /*Form Reservation start*/
    .formReservation > input {
        min-width: 47%;
    }

    .formReservation {
        margin-top: 30px;
    }

    /*Form Reservation end*/

    /*Form Review start*/
    .formReview .formRowTop textarea {
        max-width: 613px;
    }

    .reviewItem .reviewContent {
        max-width: 508px;
    }
    /*Form Review end*/

    /*Form Search start*/
    #searchForm input{
      margin-bottom: 15px !important;
      margin: 0;
    }
    #searchForm input[type="submit"]{
      margin-bottom: 0 !important;
    }
    .area{
      width: 100%;
      padding-right: 15px;
    }
    .searchBox .numPersons{
      margin-top: 25px;
    }
    .prices,.dates {
      width: 100%;
      font-size: 0;
    }
    .cell50_inp{
      width: 50%;
      display: inline-block;
      padding: 0 7.5px;
    }
    .cell100_inp{
      width: 100%;
      padding: 0 7.5px;
    }
    .searchBox .area input, .searchBox .numPersons,
    .cell50_inp input, .cell100_inp input{
      width: 100% !important;
    }
    #slider-range{
      margin-top: 10px;
    }
    .searchBox .area ul{
      width: calc(100% - 15px);
    }
    /*Form Search end*/
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*Form Reservation start*/
    .formReservation input {
        min-width: 100%;
    }
    .formReservation .secondDate {
        margin-top: 15px;
    }
    /*Form Reservation end*/

    /*Form Review start*/
    .formReview .formRowTop textarea {
        max-width: 510px;
    }

    .reviewItem .reviewContent {
        width: 65% !important;
    }

    .reviewItem .reviewUser {
        width: 35% !important;
    }

    /*Form Search start*/
    .searchBox .area input,
    .mainField .area ul{
      width: 170px;
    }
    .searchBox .prices input {
      width: 90px;
    }
    .searchBox input[type="submit"]{
      width: 120px;
    }
    /*Form Search end*/

    /*Form Review end*/

    /*Slider Start*/
    /*.slider .sliderFooter > p {
        padding: 15px 7px !important;
        font-size: 14px !important;
    }

    .slider .sliderFooter .countUsers {
        padding-left: 4px !important;
    }*/
    /*Slider End*/
}

@media (min-width: 1200px) {

}
