* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}
i {
    font-family: fontawesome !important;
}
body {
  font-size: 16px;
  background-color: #EEEEEE;
}
input, textarea, select, button{
  font-size: 16px;
}
p{
  font-size: 16px;
}
h1{
  font-weight: 700;
}
h2{
  font-weight: 500;
  font-size: 20px;
}
h3{
  font-size: 20px;
}
a{
  text-decoration: none;
}
.houses .houseItem .ContentBox h2,
.houses .houseItem .ContentBox h2 a,
.houses .houseItem .ContentBox p {
    opacity: .87;
}
ul li{
  list-style: none;
}
.mainBox{
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
/*Forms*/
input{
  height: 45px;
  border: none;
  outline: none;
}
input:not([type="submit"]) {
  background-color: #EEEEEE;
  padding-left: 15px;
}
input[type="submit"]{
  color: #fff;
  cursor: pointer;
}
input[type="submit"].red{
  background-color: #E32444;
}
input[type="submit"].green{
  background-color: #69F0AE;
}
input.date{
  cursor: pointer;
}
/*LAYOUT START*/

/*wrapper*/
#wrapper{
  margin-top: 50px;
}

/*mainMenu*/
.mainMenu{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  background-color: #305075;
  text-align: right;
  z-index: 1;
}
.mainMenu ul{
  font-size: 0;
}
.mainMenu ul li{
  font-size: 16px;
  display: inline-block;
}
.mainMenu ul li a{
  display: inline-block;
  color: #fff;
  height: 50px;
  display: block;
  padding: 0 15px;
  line-height: 50px;
  cursor: pointer;
  transition: .2s;
}
.mainMenu ul li a:hover{
  background-color: #263F5C;
}
.mainMenu ul li:last-child a{
  background-color: #E32444;
}
.mainMenu #logoutForm{
    display:none;
}
/*footer*/
footer{
  color: #fff;
  background-color: #305075;
  margin-top: 80px;
}
footer span{
  opacity: .7;
}
footer h3{
  margin-bottom: 15px;
}
footer ul.mainList li{
  margin-bottom: 7px;
}
footer ul.mainList li:last-child{
  margin-bottom: 0;
}
footer .mainFooter{
  padding: 45px 0;
}
footer a{
  color: #fff;
  text-decoration: underline;
}

/*Soc*/
footer .socBtns{
  margin-bottom: 15px;
}
footer .socBtns li{
  display: inline-block;
}
footer .socBtns li{
  display: inline-block;
}
footer .socBtns li a i{
  opacity: .7;
}
footer .socBtns li a{
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  margin-left: 7px;
  background-color: #263F5C;
  text-align: center;
  line-height: 36px;
}
footer .socBtns li a:first-child{
  margin-left: 0;
}

/*share*/
footer .share{
  width: 100%;
  height: 35px;
  position: relative;
}
footer .share .shareBtn{
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  background-color: #E32444;
  cursor: pointer;
  background-image: url('../../Content/img/shareBtn.svg');
}
footer input{
  width: 100%;
  height: 35px;
  background-color: #EEEEEE;
  border: none;
  outline: none;
  padding-left: 15px;
}
footer .cop{
  margin-top: 30px;
}

/*bottomFooter*/
footer .bottomFooter{
  background-color: #263F5C;
  padding: 18px 0;
}
footer .bottomFooter span{
  opacity: .3;
}

/*LAYOUT END*/

/*INDEX START*/

/*Map*/
#map_canvas{
  height: 475px;
  margin-bottom: 45px;
}
.houses .houseItem{
  margin-bottom: 30px;
  font-size: 0;
}
.houses .houseItem div{
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.houses .houseItem .imgBox{
  height: 264px;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.houses .houseItem .ContentBox{
  height: 264px;
  width: 50%;
  position: relative;
  padding-left: 15px;
}
.houses .houseItem .ContentBox .nameHouse{
  margin-bottom: 10px;
  margin-top: -5px;
}
.houses .houseItem .ContentBox .address{
  color: #E32444;
}
.houses .houseItem .ContentBox .ratingHouse h2{
  font-size: 16px;
  margin-bottom: 10px;
}
.houses .houseItem .ContentBox h2 a{
    color: #000;
}
.houses .houseItem .ContentBox .ratingHouse{
  position: absolute;
  bottom: 0;
  left: 15px;
}
.houses .houseItem .ContentBox .ratingHouse ul{
  font-size: 0;
}
.houses .houseItem .ContentBox .ratingHouse ul li{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #E32444;
  margin-left: 6px;
  opacity: .5;
}
.houses .houseItem .ContentBox .ratingHouse ul li:first-child{
  margin-left: 0;
}
/*Search*/
.searchBox{
  background-color: #fff;
  padding: 15px 7.5px;
  display: block;
}
#search{
  font-size: 0;
  margin-bottom: 45px;
}
.addField{
  font-size: 16px;
}
.searchBox input{
  margin: 0 7.5px;
}
.searchBox .searchFields,
.searchBox input{
  display: inline-block;
}
.searchBox .area input{
  width: 178px;
}
.searchBox .dates input,
.searchBox .prices input{
  width: 134px;
}
.searchBox .numPersons input{
  width: 158px;
}
.searchBox input[type="submit"]{
  width: 148px;
}
.addField{
  margin-top: 30px;
  padding: 0 7.5px;
}
.addField .sorting{
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #E32444;
  margin-right: 15px;
}
.addField .sorting::before{
  content: '';
  width: 2px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1px;
  margin-top: -6px;
  background-color: #fff;
}
.addField .sorting::after{
  content: '';
  width: 12px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -1px;
  background-color: #fff;
}
.sortingBox{
  font-size: 0;
  cursor: pointer;
}
.sortingBox span{
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
.sortingBox:last-child{
  color: #E32444;
}

/*INDEX END*/

/*FORM PAGES*/
.Form{
  margin: 0 auto;
}
.FormLogin{
  width: 310px;
}
.innerForm {
  background-color: #fff;
}
.innerForm .fields{
    padding: 15px;
}
.innerForm input{
  display: block;
  border: none;
  outline: none;
  height: 45px;
  width: 280px;
  margin-top: 15px;
}
.innerForm .firstItemForm{
  margin-top: 0;
}
.innerForm input:not([type="submit"]){
  background-color: #EEEEEE;
  padding-left: 15px;
}
.innerForm input[type="submit"]{
  background-color: #69F0AE;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.Form .validation-summary-errors{
  background-color: rgba(227,36,68,.6);
  margin-bottom: 15px;
  color: #fff;
  display: block;
  padding: 10px 15px;
}
.text-danger{
  font-size: 14px;
  color: #E32444;
}
.Form .questBox{
  padding: 15px;
  text-align: center;
  color: #E32444;
  display:block;
  border-top: 1px solid #EBEBEB;
}
/* REGISTRATION FORM*/
.FormRegistration{
    width: 475px;
}
.innerForm .largeInputForm{
    width: 445px;
}

.innerForm .smallInputForm{
    width: 215px;
    float: left;
    margin-top: 0px;
}

.floatInput{
    margin-left: 15px;
}
.innerForm .signUpButton{
	background-color: #69F0AE;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	width: 445px;
	margin-top: 15px;
}
.large-span-danger{
    width: 445px;
    float: left;
    margin-bottom: 15px;
}
.small-span-danger{
    width: 215px;
    float: left;
    margin-bottom: 15px;
}
.floatSpan{
    margin-left: 15px;
}

/* CreationHome */
.FormCreate{
	width: 690px;
}
.topCreate{
  height: 90px;
  background-color: blue;
}
.innerForm .smallInputCreate{
  width: 210px;
  float: left;
  clear: right;
  margin-bottom: 15px;
}
.innerForm .largeInputCreate{
  width: 660px;
}
.innerForm textarea{
  height: 90px;
  resize: none;
  width: 660px;
  display: block;
  border: none;
  outline: none;
  background-color: #EEEEEE;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 15px;
}
.innerForm .ButtonCreate{
  background-color: #69F0AE;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	width: 660px;
	margin-top: 15px;
  border-top: 1px solid #EBEBEB;
}
