* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}
i {
    font-family: fontawesome !important;
}
body {
  font-size: 14px;
  background-color: #EEEEEE;
}
input, textarea, select, button{
  font-size: 14px;
}
p{
  font-size: 14px;
}
h1{
  font-weight: 700;
}
h2{
  font-weight: 500;
  font-size: 16px;
}
h3{
  font-size: 20px;
}
a{
  text-decoration: none;
}
.houses .houseItem .ContentBox h2,
.houses .houseItem .ContentBox h2 a,
.houses .houseItem .ContentBox p {
    opacity: .87;
}
ul li{
  list-style: none;
}
.mainBox{
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;
}
/*Forms*/
input{
  height: 45px;
  border: none;
  outline: none;
}
input:not([type="submit"]) {
  background-color: #EEEEEE;
  padding-left: 15px;
}
input[type="submit"], button{
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
}
input[type="submit"].red{
  background-color: #E32444;
}
input[type="submit"].green{
  background-color: #69F0AE;
}
input.date{
  cursor: pointer;
}
/*Opacity*/
.op87{
  opacity: .87;
}
.op54{
  opacity: .54;
}
.op70{
  opacity: .70;
}
/*Select none*/
.selectNone{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Calendar*/
.ui-datepicker table{
  font-size: 14px !important;
}
.ui-datepicker table thead tr th{
  font-weight: 500 !important;
  opacity: .54;
  font-size: 14px !important;
}
#ui-datepicker-div{
  padding: 0;
}
#ui-datepicker-div .ui-widget-header{
  background: none;
  border: none;
  padding: 0;
  font-weight: 500;
  margin-top: 5px;
}
.ui-datepicker td,
.ui-datepicker th {
  padding: 0 !important;
}
.ui-datepicker td span,
.ui-datepicker td a,
.ui-datepicker th span{
  display: block;
  text-align: center !important;
  width: 35px;
  height: 35px;
  padding: 0 !important;
  background: none !important;
  border: none !important;
  line-height: 35px;
  font-weight: 500 !important;
}
.ui-datepicker .ui-state-default{
  opacity: .87;
}
.ui-datepicker{
  width: auto !important;
}
.ui-datepicker table{
  padding: 15px;
  display: block;
  margin: 0 !important;
}
.ui-datepicker-title span{
  line-height: 45px;
  font-size: 14px;
  font-weight: 500;
}
.ui-datepicker-title{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#ui-datepicker-div{
  border: none !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
#ui-datepicker-div .ui-widget-header{
  line-height: 0 !important;
  height: 45px;
  background-color: #305075;
  margin-top: 0;
  color: #fff;
}
#ui-datepicker-div .ui-datepicker-current-day a{
  color: #E32444;
  opacity: 1;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span{
  width: 16px !important;
  height: 16px !important;
  margin-top: -8px !important;
  left: none !important;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 50% !important;
  width: 16px !important;
  height: 16px !important;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-next{
  right: 10px !important;
}
.ui-datepicker .ui-datepicker-prev{
  left: 10px !important;
}
.ui-widget-header .ui-icon {
  background-size: 16px;
}
.ui-datepicker .ui-datepicker-next span{
  background-image: url('../../Content/img/icons/arrow-right.svg') !important;
}
.ui-datepicker .ui-datepicker-prev span{
  background-image: url('../../Content/img/icons/arrow-left.svg') !important;
}
.ui-icon-circle-triangle-e,
.ui-icon-circle-triangle-w{
  background-position: 0 !important;
}
.ui-state-hover{
  background: none !important;
  border: none !important;
}

/*LAYOUT START*/

/*wrapper*/
#wrapper{
  margin-top: 50px;
}

/*mainMenu*/
.mainMenu{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  background-color: #305075;
  text-align: right;
  z-index: 99999;
}
.mainMenu ul{
  font-size: 0;
}
.mainMenu ul li{
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
}
.mainMenu ul li a{
  display: inline-block;
  color: #fff;
  height: 50px;
  display: block;
  padding: 0 15px;
  line-height: 50px;
  cursor: pointer;
  transition: .2s;
}
.mainMenu ul li a:hover{
  background-color: #263F5C;
}
.mainMenu ul li:last-child a{
  background-color: #E32444;
}
.mainMenu #logoutForm{
    display:none;
}
/*footer*/
footer{
  color: #fff;
  background-color: #305075;
  margin-top: 80px;
}
footer span{
  opacity: .7;
}
footer h2{
  margin-bottom: 15px;
}
footer ul.mainList li{
  margin-bottom: 7px;
}
footer ul.mainList li:last-child{
  margin-bottom: 0;
}
footer .mainFooter{
  padding: 45px 0;
}
footer a{
  color: #fff;
  text-decoration: underline;
}

/*Soc*/
footer .socBtns{
  margin-bottom: 15px;
}
footer .socBtns li{
  display: inline-block;
}
footer .socBtns li{
  display: inline-block;
}
footer .socBtns li a i{
  opacity: .7;
}
footer .socBtns li a{
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  margin-left: 7px;
  background-color: #263F5C;
  text-align: center;
  line-height: 36px;
}
footer .socBtns li a:first-child{
  margin-left: 0;
}

/*share*/
footer .share{
  width: 100%;
  height: 35px;
  position: relative;
}
footer .share .shareBtn{
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  background-color: #E32444;
  cursor: pointer;
  background-image: url('../../Content/img/icons/shareBtn.svg');
}
footer input{
  width: 100%;
  height: 35px;
  background-color: #EEEEEE;
  border: none;
  outline: none;
  padding-left: 15px;
}
footer .cop{
  margin-top: 30px;
}

/*bottomFooter*/
footer .bottomFooter{
  background-color: #263F5C;
  padding: 18px 0;
}
footer .bottomFooter span{
  opacity: .3;
}

/*LAYOUT END*/

/*INDEX START*/

/*Map*/
#map_canvas{
  height: 475px;
  margin-bottom: 45px;
}

.houses .col-md-4{
  margin-bottom: 30px;
}
.houses .houseItem{
  display: block;
  color: #000;
  overflow: hidden;
}
.houses .imgBox{
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.houses .contentBox{
  padding: 7.5px;
}
.houses span.address{
  font-size: 14px;
  color: #E32444;
  font-weight: 500;
  padding-top: 4px;
}
.houses .contentBox p{
  padding-top: 10px;
}
.houses .characts{
  border-top: 1px solid #DBDBDB;
  padding: 10px 7.5px;
  margin-top: 11px;
}
.houses .houseItem .ratingHouse{
  text-align: right;
}
.houses .houseItem .ratingHouse ul{
  font-size: 0;
}
.houses .houseItem .ratingHouse ul li{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #E32444;
  margin-left: 5px;
  opacity: .5;
}
.houses .houseItem .ratingHouse ul li:first-child{
  margin-left: 0;
}
.houses .houseItem .price{
  position: absolute;
  right: 7.5px;
  top: 7.5px;
  padding: 8px;
  background-color: #E32444;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
}
/*
.houses .houseItem{
  margin-bottom: 30px;
  font-size: 0;
}
.houses .itemWrap{
  background-color: #fff;
  padding: 7.5px;
}
.houses .houseItem .itemWrap div{
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.houses .houseItem .imgBox{
  height: 264px;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.houses .houseItem .ContentBox{
  height: 264px;
  width: 50%;
  position: relative;
  padding-left: 15px;
}
.houses .houseItem .ContentBox .nameHouse{
  margin-bottom: 10px;
  margin-top: -5px;
}
.houses .houseItem .ContentBox .address{
  color: #E32444;
}
.houses .houseItem .ContentBox .ratingHouse h2{
  font-size: 16px;
  margin-bottom: 10px;
}
.houses .houseItem .ContentBox h2 a{
    color: #000;
}
.houses .houseItem .ContentBox .ratingHouse{
  position: absolute;
  bottom: 0;
  left: 15px;
}
.houses .houseItem .ContentBox .ratingHouse ul{
  font-size: 0;
}
.houses .houseItem .ContentBox .ratingHouse ul li{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #E32444;
  margin-left: 6px;
  opacity: .5;
}
.houses .houseItem .ContentBox .ratingHouse ul li:first-child{
  margin-left: 0;
}
.houses .houseItem .optionsHouse{
  font-size: 0;
}
.houses .houseItem .optionsHouse li{
  font-size: 16px;
  display: inline-block;
}
.houses .houseItem .optionsHouse li span{
  margin-right: 7px;
  display: inline-block;
  height: 16.7px;
  vertical-align: middle;
}
.houses .houseItem .optionsHouse li:first-child{
  margin-right: 15px;
}
.houses .houseItem .optionsHouse li{
  margin-top: 15px;
}
.houses .houseItem .optionsHouse li span{
  background-repeat: no-repeat;
}
.houses .houseItem .optionsHouse li .man{
  background-image: url(../../Content/img/icons/man.svg);
  width: 17px;
}
.houses .houseItem .optionsHouse li .rub{
  background-image: url(../../Content/img/icons/rub.svg);
  width: 13.75px;
}
.houses .houseItem .optionsHouse li .com{
  background-image: url(../../Content/img/icons/com.svg);
  width: 18.9px;
}
*/
/*Search*/
.searchBox{
  background-color: #fff;
  padding: 15px 7.5px;
  display: block;
}
#search{
  font-size: 0;
  margin-bottom: 45px;
}
.addField{
  font-size: 16px;
}
.searchBox input{
  margin: 0 7.5px;
}
.searchBox .searchFields,
.searchBox input,
.cell50_inp, .cell100_inp{
  display: inline-block;
}
.searchBox .area input{
  width: 300px;
}
.searchBox .dates input,
.searchBox .prices input{
  width: 110px;
}
.searchBox .numPersons input{
  width: 130px;
}
.searchBox input[type="submit"]{
  width: 150px;
}
.addField{
  margin-top: 30px;
  padding: 0 7.5px;
}
.addField .sorting{
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #E32444;
  margin-right: 15px;
}
.addField .sorting::before{
  content: '';
  width: 2px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1px;
  margin-top: -6px;
  background-color: #fff;
}
.addField .sorting::after{
  content: '';
  width: 12px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -1px;
  background-color: #fff;
}
.sortingBox{
  font-size: 0;
  cursor: pointer;
}
.sortingBox span{
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
.sortingBox:last-child{
  color: #E32444;
}
/*slider-range*/
#slider-range{
  margin: 25px 15px 0 15px;
  height: 4px;
  background-color: #EEEEEE;
  position: relative;
  z-index: 0;
}
#slider-range::after{
  content: '';
  display:block;
  height: 4px;
  width: 50%;
  position: absolute;
  top: 0;
  left: -7.5px;
  background-color: #EEEEEE;
}
#slider-range::before{
  content: '';
  display:block;
  height: 4px;
  width: 50%;
  position: absolute;
  top: 0;
  right: -7.5px;
  background-color: #EEEEEE;
}
#slider-range .ui-widget-header{
  background: #E32444 !important;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-radius: 0 !important;
}
#slider-range.ui-widget.ui-widget-content{
  border: none !important;
}
#slider-range span.ui-state-default{
  border: none !important;
  display: block !important;
  width: 15px !important;
  height: 15px !important;
  background: #E32444 !important;
  border-radius: 15px !important;
  outline: none !important;
  margin-top: -5.5px !important;
  transition-property: box-shadow;
  transition-duration: .4s;
}
#slider-range span.ui-state-active{
  box-shadow: 0 0 0 5px rgba(227, 36, 68, .3) !important;
}
/*Select*/
.mainField .area {
  position: relative;
  margin: 0 7.5px;
}
.mainField .area ul{
  position: absolute;
  width: 300px;
  background-color: #EEEEEE;
  left: 0;
  top: 45px;
  z-index: 1;
  height: 0;
  overflow: hidden;
}
.mainField .actArea .select {
  background-color: #305075;
  color: #fff;
}
.mainField .actArea ul{
  border-top: 1px solid #263F5C;
  height: auto;
  background-color: #305075;
  color: #fff;
}
.mainField .area ul li{
  font-size: 14px;
  padding: 12px 15px;
  cursor: pointer;
}
.mainField .area ul li:hover{
  background-color: #263F5C;
}
#searchForm .firstItem{
  margin: 0;
}
/*Sorting*/
#searchForm .sortingItems{
  overflow: hidden;
  height: 0;
}
#searchForm .sortingItems ul li{
  float: left;
  margin-left: 30px;
}
#searchForm .sortingItems ul li:first-child{
  margin-left: 0;
}
#searchForm  .actSort .sortingItems{
  border-top: solid #DBDBDB 1px;
  height: auto;
  margin-top: 15px;
  padding-top: 15px;
}
#searchForm  .actSort .sortingBox .sorting::before{
  display: none;
}
input[type="radio"] {
  display:none;
}
input[type="radio"] + label{
  cursor: pointer;
}
input[type="radio"] + label span {
  display:inline-block;
  width:20px;
  height:20px;
  border-radius: 10px;
  margin:-1px 7.5px 0 0;
  vertical-align:middle;
  background-color: #EEEEEE;
  cursor:pointer;
  position: relative;
}
input[type="radio"]:checked + label span{
  background-color: rgba(227, 36, 68, 0);
}
input[type="radio"] + label span::before {
  content: '';
  box-shadow: 0 0 0 0 #F7BDC7;
  transition: box-shadow .25s;
}
input[type="radio"]:checked + label span::before {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #E32444;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #F7BDC7;
}

/*Map*/
.gm-style-iw p{
  font-size: 14px;
}
.gm-style-iw .titInfo {
   font-weight: 500;
   color: #000;
   opacity: .87;
}
.gm-style-iw .addressInfo {
    color: #E32444;
    margin-top: 5px;
}
.gm-style-iw  .charact{
    margin-top: 15px;
    font-size: 0;
    margin-left: -2px;
    display: inline-block;
}
.gm-style-iw .charact li {
    display: inline-block;
    font-size: 14px;
    margin-right: 15px;
    color: #000;
    opacity: .87;
}
.gm-style-iw .charact li i{
    margin-right: 5px;
}
.gm-style-iw .charact .ratingInfo i{
    color: #E32444;
    opacity: 1;
}
.totalItems{
    text-align: right;
}
/*INDEX END*/
/*FORM PAGES*/
.Form {
    margin: 0 auto;
}
.FormLogin{
  width: 310px;
}
.innerForm {
  background-color: #fff;
}
.innerForm .fields{
    padding: 15px;
}
.innerForm input{
  display: block;
  border: none;
  outline: none;
  height: 45px;
  width: 280px;
  margin-top: 15px;
}
.innerForm .firstItemForm{
  margin-top: 0;
}
.innerForm input:not([type="submit"]){
  background-color: #EEEEEE;
  padding-left: 15px;
}
.innerForm input[type="submit"]{
  background-color: #69F0AE;
  color: #fff;
  cursor: pointer;
  transition: .3s all;
}
.innerForm input[type="submit"]:hover {
    background-color: #5EF199;
}
.Form .validation-summary-errors {
    background-color: rgba(227,36,68,.6);
    margin-bottom: 15px;
    font-size: 14px;
    color: #fff;
    display: none;
    padding: 10px 15px;
}

label.error {
    width: 100%;
    font-size: 14px;
    display: inline-block;
    position: relative;
    color: #E32444;
    margin-top: 5px;
}

input.error {
    outline: 1px solid;
    outline-color: #E32444;
}
/*input.valid {
    outline: 1px solid;
    outline-color: #69F0AE;
}
input:focus {
    outline:none;
}*/
label.valid {
    display: none;
}

.text-danger {
    font-size: 14px;
    color: #E32444;
}

.field-validation-error {
    display: block;
    margin-top: -9px;
    margin-bottom: 8px;
}
.Form .questBox {
    padding: 15px;
    text-align: center;
    color: #E32444;
    display: block;
    border-top: 1px solid #EBEBEB;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}
/* REGISTRATION FORM*/
.FormRegistration {
    width: 475px;
    font-size: 0;
}

.innerForm .largeInputForm {
    width: 445px;
}

.innerForm .smallInputForm {
    width: 215px;
    display: inline-block;
}

/*.innerForm .smallInputFormHouse {
    width: 49%;
    display: inline-block;
}*/

.floatInput {
    margin-left: 15px;
}

.innerForm .signUpButton {
    background-color: #69F0AE;
    color: #fff;
    width: 445px;
    margin-top: 15px;
}
/*.large-span-danger{
    width: 445px;
    float: left;
    margin-bottom: 15px;
}
.small-span-danger{
    width: 215px;
    float: left;
    margin-bottom: 15px;
}
.floatSpan{
    margin-left: 15px;
}*/

.ui-autocomplete {
    background-color: white;
    width: 300px;
    border: 1px solid #cfcfcf;
    list-style-type: none;
    padding-left: 0px;
}

/* CreationHome */
.ui-helper-hidden-accessible {
    display: none;
}
.FormCreate {
    width: 690px;
    font-size: 0;
    margin-bottom: 45px;
}

.topCreate {
    height: 90px;
    background-color: blue;
}

.innerForm .smallInputCreate {
    width: 48.86%;
    display: inline-block;
}

.innerForm .largeInputCreate {
    width: 660px;
}
.FormCreate .innerForm .largeInputCreateTop {
    margin-top: 0;
}
.FormCreate .innerForm textarea {
    height: 90px;
    resize: none;
    width: 660px;
    display: block;
    border: none;
    outline: none;
    background-color: #EEEEEE;
    margin-top: 15px;
    padding: 15px;
}
.innerForm .ButtonCreate{
  background-color: #69F0AE;
	color: #fff;
	width: 660px;
	margin-top: 15px;
  border-top: 1px solid #EBEBEB;
}
.manualInput {
    display: none;
}
.textManualAddress {
    font-size: 14px;
    opacity: .87;
    text-align: center;
    padding-top: 5px;
}

.textManualAddress  p {
    font-size: 14px;
    padding-bottom: 8px;
}
.manualAddress {
    color: #E32444;
    cursor: pointer;
}
/*Page-Home Start*/
.briefDescription {
    margin-top: 30px;
    margin-bottom: 15px;
}

/*Form Reservation Start*/
.formReservation {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    font-size: 0;
}

.formReservation input {
    width: 48%;
    height: 45px;
    background-color: #EEE;
    display: inline-block;
    padding-left: 15px;
}

.formReservation input:focus {
    outline: none;
}

.formReservation .secondDate {
    float: right;
}

.formReservation textarea {
    resize: vertical;
    width: 100%;
    height: 70px;
    min-height: 70px;
    margin-top: 15px;
    background-color: #EEE;
    border:none;
    max-height: 200px;
    padding-top: 8px;
    padding-left: 15px;
}

.formReservation textarea:focus {
    outline: none;
}

.btnReservation {
    width: 100%;
    margin-top: 15px;
    height: 45px;
    background-color: #E32444;
    color: #fff;
    border: none;
    transition: all .5s ease;
}

.btnReservation:hover {
    background-color: #F31137;
}

.btnReservation:focus {
    outline: none;
}
.errorBoxDate {
    width: 100%;
    color: #E32444;
    background-color: pink;
    padding: 15px;
    margin-top: 15px;
    display: none;
    cursor: pointer;
}
/*Form Reservation End*/
/*Slider Start*/
.slider {
    height: 445px;
    width: 100%;
    font-size: 0;
}

.slider .sliderHead {
    width: 100%;
    height: 32px;
    background-color: #305075;
    z-index: 1;
}

.slider .sliderHead i, .slider .sliderHead h3, .slider .sliderHead a {
    color: #fff;
    display: inline-block;
    margin-top: 7px;
    margin-left: 15px;
    opacity: .54;
    font-size: 14px;
}

.slider .sliderHead i {
    font-size: 16px;
}

.slider .sliderHead h3 {
    margin-right: 15px;
    opacity: 1;
    font-weight: 400;
}

.slider .sliderHead .separate {
    display: inline-block;
    position: absolute;
    margin-top: 8px;
    height: 15px;
    border-right: 1px solid #263F5C;
}

.slider .owl-carousel img {
    width: 100%;
    background-color: #f9f9f9;
}

.slider .owl-carousel .item {
    height: 368px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider .sliderFooter {
    width: 100%;
    height: 45px;
    background-color: #fff;
}

.slider .sliderFooter p {
    opacity: .87;
    padding: 14px 15px 16px 15px;
    font-size: 14px;
    display: inline-block;
}

.slider .sliderFooter .countUsers {
    padding-left: 4px;
}

.slider .sliderFooter .countUsersIcon {
    background-image: url(../img/users.svg);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-left: 15px;
    padding-top: 30px;
    vertical-align: middle;
}

.slider .sliderFooter .separate {
    opacity: .12;
    display: inline-block;
    position: absolute;
    margin-top: 12.5px;
    height: 20px;
    border-right: 1px solid #000;
}

.slider .sliderFooter .sliderRating {
    display: inline-block;
    color: #fff;
    height: 100%;
    background-color: #5EF199;
    float: right;
}

.slider .sliderFooter .sliderRating span, .slider .sliderFooter .sliderRating p {
    opacity: 1;
    display: inline-block;
    padding-top: 14px;
    padding-left: 8px;
    padding-right: 8px;
}

.slider .sliderFooter .sliderRating span {
    font-size: 14px;
}

.slider .sliderFooter .sliderRating .separate {
    opacity: .15;
}

.owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.owl-dots .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    opacity: .65;
    margin: 0 3px 15px 3px;
}

.owl-dots .active {
    opacity: 1;
}

.owl-nav {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}

.owl-carousel {
    z-index: 0;
    position: relative;
}

.owl-nav .owl-prev, .owl-nav .owl-next {
    color: #fff;
    font-size: 28px;
    position: absolute;
    top: 220;
}

.owl-nav .owl-prev {
    margin-left: 30px;
}

.owl-nav .owl-next {
    margin-right: 30px;
    right: 0;
}
/*Slider End*/

/*Description Start*/
.fullDescription {
    margin-top: 30px;
}
.fullDescription .descOwner {
    width: 100%;
    background-color: #fff;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-bottom: 1px;
}
.fullDescription .descItems {
    width: 100%;
    background-color: #fff;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-bottom: 1px;
}

.fullDescription .descItems h1 {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    display:block;
    width: 100%;
    opacity: .87;
}

.fullDescription .descItems p {
    display: block;
    width: 100%;
    height: 100%;
    opacity: .87;
}

.fullDescription .descItems span {
    color: #000;
}

.fullDescription .descOwner .leftSideOwner h3 {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 10px;
}

.fullDescription .descOwner .leftSideOwner {
    vertical-align: top;
    padding-top: 15px;
    display: inline-block;
}

.fullDescription .descOwner .leftSideOwner img {
    vertical-align: top;
    display: inline-block;
    border-radius: 50%;
    height: 61px;
    width: 61px;
}

.fullDescription .descOwner .rightSideOwner {
    padding-top: 15px;
    display: inline-block;
}

.fullDescription .descOwner .rightSideOwner p span {
    opacity: .54;
}

.fullDescription .descOwner .rightSideOwner p {
    padding-bottom: 15px;
}

.fullDescription .descOwner .rightSideOwner p:last-child {
    padding-bottom: 0;
}
/*Description End*/

/*Map Start*/
#map_canvas_house {
    height: 475px;
    margin-bottom: 45px;
}

.mapBox {
    margin-top: 30px;
    transition: all .5s ease;
}
#MapAddressNotFound {
    width: 100%;
    display: none;
    margin-bottom: 30px;
    background-color: pink;
    padding: 15px;
    margin-top: 30px;
    display: none;
}
#MapAddressNotFound p {
    font-size: 14px;
    color: #E32444;
    text-align: center;
}
/*Map End*/
/*Review Start*/
.formReview {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 1px;
    min-height: 151px;
    position: relative;
    font-size: 0;
}

.formRowTop {
    width: 100%;
    margin-bottom: 50px;
}

.formRowBottom {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.formReview .formRowTop img {
    position: relative;
    left: 0;
    top: 0;
}

.formReview .formRowTop img, .reviewItem .reviewUser img {
    display: inline-block;
    border-radius: 50%;
    height: 61px;
    width: 61px;
}

.formReview .formRowTop textarea {
    display: inline-block;
    resize: none;
    height: 61px;
    margin-left: 15px;
    border: none;
    background-color: #EEEEEE;
    width: 643px;
    padding-top: 8px;
    padding-left: 15px;
}

.formReview .formRowTop textarea:focus {
    outline: none;
}

.formReview .formRowTop textarea::placeholder {
    opacity: .87;
}

.formReview .formRowBottom .btnSendReview {
    width: 152px;
    height: 45px;
    color: #fff;
    background-color: #5EF199;
    border: none;
    margin-left: 15px;
    cursor: pointer;
    transition: all .5s ease;
}

.formReview .formRowBottom .btnSendReview:hover {
    background-color: #27EE77;
}

.formReview .formRowBottom .btnSendReview:focus {
    outline: none;
}

.formReview .formRowBottom .formSelect {
    width: 200px;
    height: 45px;
    background-color: #fff;
    position: relative;
    display: inline-block;
}


.formReview .formRowBottom .formSelect #selectRating {
    font-size: 14px;
    border: none;
    height: 45px;
    padding-left: 10px;
    background-color: #EEEEEE;
    cursor: pointer;
    color: #444;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
}

.formReview .formRowBottom .formSelect:after {
    content: "";
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #000 transparent transparent transparent;
    opacity: .54;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    margin-top: -2px;
    }

.formReview .formRowBottom .formSelect #selectRating:focus {
    outline: none;
}

.formReview .formRowBottom .formSelect #selectRating option {
    outline: none;
}

.reviewItem .reviewUser {
    vertical-align: top;
    display: inline-block;
    width:30%;

}

.reviewItem .reviewUser h3 {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.reviewItem .reviewContent {
    display: inline-block;
    width: 70%;
    position: relative;
}

.reviewItem .reviewUser img {
    vertical-align: top;
    display: inline-block;
}

.reviewItem .reviewContent p {
    opacity: .87;
}

.reviewItem {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 1px;
    font-size: 0;
}

.reviewItem .reviewContent .travelTime {
    font-size: 14px;
    opacity: .54;
    padding-bottom: 8px;
}

.reviewItem .reviewContent .ratingReview {
    float: right;
    padding-top: 30px;
    font-size: 14px;
    opacity: 1;
}

.reviewItem .reviewContent .ratingReview span {
    color: #5EF199;
}

.defaultReview {
    display: none;
}
/*Review End*/

/*Page-Home End*/
/*Edit My House Start*/

.sliderEditHouse {
    background-color: #fff;
    height: 310px;
    font-size: 0;
    width: 451px;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    vertical-align: top;
}

.sliderItemEH {
    margin: 8px;
    width: 435px;
    height: 294px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sliderItemEH img {
    width: 100%;
    height: 100%;
}

.reservBoxEH {
    height: 310px;
    width: 265px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    overflow-y: hidden;
}

.itemReservEH {
    height: 51px;
    margin-bottom: 1px;
    background-color: #fff;
}

.itemReservEH p, .itemReservEH img {
    display: inline-block;
}

.itemReservEH p:after {
    content: "";
    border-right: 1px solid #DBDBDB;
    height: 20px;
    margin-left: 13px;
    margin-right: 15px;
}

.itemReservEH p {
    margin: 17px 0 15px 15px;
    vertical-align: top;
}

.itemReservEH img {
    width: 35px;
    height: 35px;
    margin: 8px 15px 8px 0;
    border-radius: 50%;
}

#formEH {
    width: 100%;
    font-size: 0;
    margin-top: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

#formEH textarea {
    height: 90px;
    resize: none;
    width: 660px;
    display: block;
    border: none;
    outline: none;
    background-color: #EEEEEE;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 15px;
}

#formEH .largeInputEH {
    width: 100%;
}

#formEH .smallInputEH {
    width: 48.9%;
    display: inline-block;
    vertical-align: top;
}

#formEH label[class="error"] {
    margin-top: -7px;
    margin-bottom: 15px;
}

#formEH label {
    font-size: 16px;
    width: 100%;
    opacity: .87;
}

#formEH .innerForm .ButtonSaveEH {
    width: 100%;
    margin-bottom: 0;
}

#formEH .innerForm input {
    margin-top: 8px;
    margin-bottom: 15px;
    width: 100%;
}

.noticeItem {
    width: 100%;
    margin-bottom: 1px;
    position: relative;
    clear: both;
}

.headerNotice {
    height: 45px;
    width: 100%;
    background-color: #fff;
    font-size: 0;
}

.noticeColor {
    width: 4px;
    height: 45px;
    display: inline-block;
}

.noticeColorGreen {
    background-color: #5EF199;
}

.noticeColorRed {
    background-color: #E32444;
}

.noticeColorBlue {
    background-color: #305075;
}

.headerNotice p, .headerNotice span {
    font-size: 14px;
    vertical-align: top;
    margin-top: 14px;
}

.headerNotice p {
    display: inline-block;
    margin-left: 15px;
}

.headerNotice span {
    color: #E32444;
}

.footerNotice {
    margin-top: 8px;
    margin-bottom: 15px;
    float: right;
}

.footerNotice span, .footerNotice form {
    display: inline-block;
}

.footerNotice span {
    font-size: 14px;
    opacity: .54;
}

.footerNotice form {
    font-size: 0;
    margin-left: 15px;
}

.footerNotice form input {
    background-color: #eee;
    height: 17px;
    color: #E32444;
    font-size: 14px;
    transition: .3s all;
    opacity: .54;
}

.footerNotice form input:hover {
    opacity: 1;
}

.bodyNotice {
    margin-top: 1px;
    padding: 8px;
    background-color: #fff;
}

.bodyNotice p:first-child {
    margin-bottom: 15px;
}

.bodyNotice p, .bodyNotice span {
    font-size: 14px;
}

.bodyNotice p:last-child {
    text-align: right;
}

#uploadPhotoEH {
    z-index: 1;
    height: 35px;
    width: 145px;
    position: absolute;
    top: 23px;
    left: 248px;
}

.file-upload input[type="file"] {
    display: none;
}


.file-upload {
    position: relative;
    width: 145px;
    height: 35px;
    background: #305075;
    color: #fff;
    text-align: center;
    transition: .3s all;
}
.file-upload:hover {
    background-color: #325985;
}
.file-upload label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-upload span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
}

.deletePhotoEH {
    position: absolute;
    z-index: 5;
}

.sliderEHBody {
    background-color: #fff;
    height: 95%;
    width: 100%;
}

.deleteButton {
    width: 35px;
    height: 35px;
    background-color: #E32444;
    position: absolute;
    right: 23px;
    top: 23px;
    cursor: pointer;
    z-index: 5;
    transition: .3s all;
}
.deleteButton:hover {
    background-color: #F31137;
}

.angleBox {
    width: 35px;
    height: 35px;
    z-index: 5;
    background-color: #305075;
}

.sep:after {
    content: "";
    border: 1px solid #263F5C;
    height: 35px;
    position: absolute;
    right: -2px;
}

.sliderEditHouse .sliderEHBody .owl-nav {
    position: absolute;
    bottom: 0;
    top: unset;
}

.sliderEditHouse .sliderEHBody .owl-nav .owl-next, .sliderEditHouse .sliderEHBody .owl-nav .owl-prev {
    bottom: 8px;
    margin: 0;
    z-index: 1;
}

.sliderEditHouse .sliderEHBody .owl-nav .owl-next {
    right: 23px;
}

.sliderEditHouse .sliderEHBody .owl-nav .owl-prev {
    right: 60px;
}

.allNoticeHouse {
    height: 1687px;
    overflow-y: auto;
}

/*Edit My House End*/

/*My house and my trips start*/
.houseContainer {
    width: 360px;
    height: 278px;
    background-color: #fff;
    font-size: 0;
    position: relative;
    vertical-align: top;
    padding: 8px;
    margin-bottom: 30px;
    display: inline-block;
}

.houseContainerHead {
    height: 35px;
    width: 100%;
    background-color: #305075;
    z-index: 1;
}

.houseBodyContainer {
    width: 100%;
    height: 227px;
}
.houseBodyIMG {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.houseContainerHead i {
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
    opacity: .54;
}

.houseContainerHead h3 {
    opacity: 1;
    max-width: 80%;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    padding-top: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.houseBodyContainer a {
    opacity: 1;
    background-color: #fff;
    display: inline-block;
    padding: 9px 15px 7px 15px;
    font-size: 0;
    height: 35px;
    vertical-align: top;
    transition: .3s all;
    color: #000;
}
.houseBodyContainer a:visited {
    color: #000;
}
.houseBodyContainer a:hover {
    background-color: #eee;
}

.houseBodyContainer a p {
    opacity: .87;
    font-size: 15px;
}
.numberRating {
    font-size: 16px;
    color: #fff;
}

.houseBodyRating {
    text-align: center;
    padding-top: 9px;
    height: 35px;
    width: 35px;
    display: inline-block;
    background-color: #305075;
    vertical-align: top;
}
.houseDelButton {
    height: 35px;
    width: 35px;
    display: inline-block;
    background-color: #E32444;
    vertical-align: top;
    cursor: pointer;
    transition: .3s all;
}

.houseDelButton:hover {
    background-color: #F31137;
}
.navHouseBody {
    position: absolute;
    bottom: 18px;
    left: 18px;
}

.remoteHouse {
    border-right: 1px solid #DBDBDB;
}

.houseContainerHead .numHouse {
    height: 100%;
    background-color: #E32444;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    padding: 9px 8px 6px 8px;
    vertical-align: top;
    float: right;
}

.houseContainer:nth-child(2n+1) {
    margin-right: 30px;
}

.houseContainer:nth-child(2n) {
    float: right;
}

.allNoticeMyHouse {
    height: 600px;
    overflow-y: hidden;
}

.myTripsDate {
    margin-left: 15px;
}
.myTripsDate span {
    opacity: .54;
}
.myTripsDelButton {
    height: 35px;
    width: 35px;
    display: inline-block;
    background-color: #E32444;
    vertical-align: top;
    cursor: pointer;
    float: right;
    transition: .3s all;
}

.myTripsDelButton:hover{
    background-color: #F31137;
}
.navMyTripsBody {
    position: absolute;
    bottom: 23px;
    right: 23px;
}

.historyArrivalBox {
    background-color: #fff;
    width: 100%;
    height: 895px;
    font-size: 0;
    padding: 15px;
    overflow-y: auto;
}

.historyArrivalBody form input {
    background: none;
    height: 17px;
    color: #E32444;
    font-size: 14px;
    transition: .3s all;
}
.historyArrivalBody form input:hover{
    color: #F31137;
}
.historyArrivalBody {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}
.historyArrivalBody p {
    font-size: 14px;
    margin-bottom: 3px;
}

.historyArrivalBody p span {
    opacity: .54;
}

.historyArrivalItem {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.historyArrivalIMG {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.historyArrivalBox > h3 {
    margin-bottom: 15px;
}

.close {
    position: absolute;
    top: 7px;
    right: 18px;
}

.close:before, .close:after {
    position: absolute;
    content: '';
    height: 20px;
    width: 2px;
    background-color: #fff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.closeMyTrips {
    position: absolute;
    top: 15px;
    right: 26px;
}

.closeMyTrips:before, .closeMyTrips:after {
    position: absolute;
    content: '';
    height: 20px;
    width: 2px;
    background-color: #fff;
}

.closeMyTrips:before {
    transform: rotate(45deg);
}

.closeMyTrips:after {
    transform: rotate(-45deg);
}
/*My house and my trips end*/

/*Personal information start*/
.avaUser {
    width: 300px;
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
}

.file-uploadPI input[type="file"] {
    display: none;
}

.file-uploadPI {
    margin-top: 30px;
    position: relative;
    width: 300px;
    height: 45px;
    background: #E32444;
    color: #fff;
    text-align: center;
    transition: .3s all;
}

.file-uploadPI:hover {
    background-color: #F31137;
}

.file-uploadPI label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-uploadPI span {
    margin-top: -5px;
    display: block;
    font-size: 14px;
}

.photoUserPI {
    background-color: #fff;
    padding: 15px;
    width: 330px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.photoUserPI h3 {
    margin-bottom: 15px;
    text-align: center;
}

.personalInfo {
    vertical-align: top;
    width: 330px;
    margin-bottom: 15px;
    text-align: left;
}
.personalInfo h3 {
    padding: 9px 15px 7px 15px;
    margin-bottom: 1px;
    background-color: #fff;
}

.personalInfo p {
    background-color: #fff;
    padding: 9px 15px 8px 15px;

}

.photoUserPI a {
    display: block;
    height: 45px;
    width: 100%;
    background-color: #E32444;
    color: #fff;
    font-size: 14px;
    padding-top: 14px;
    text-align: center;
    margin-top: 15px;
    transition: .3s ease;
}

.photoUserPI a:hover {
    background-color: #F31137;
}
.photoUserPI a:visited {
    color: #fff;
}
/*Personal information end*/

/*Form Edit and Change Password start*/
.formEditInfo {
    width: 475px;
    font-size: 0;
}

.formEditInfo label{
    font-size: 16px;
    width: 100%;
    padding-left: 0;
    margin-bottom: 8px;
}
.formEditInfo .largeInputForm {
    width: 100%;
}

.formEditInfo .smallInputForm {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.formEditInfo label[class="error"] {
    margin-top: -7px;
    margin-bottom: 15px;
}


.formEditInfo .innerForm .ButtonSaveEdit {
    width: 100%;
    margin-bottom: 0;
}

.formEditInfo .innerForm input {
    margin-bottom: 15px;
    width: 100%;
}

.formEditInfo a {
    display: block;
    height: 45px;
    width: 100%;
    background-color: #E32444;
    color: #fff;
    font-size: 14px;
    padding-top: 14px;
    text-align: center;
    margin-top: 15px;
    transition: .3s ease;
}

.formEditInfo a:hover {
    background-color: #F31137;
}

.formEditInfo a:visited {
    color: #fff;
}
/*Form Edit and Change Password end*/
/*CSS*/
/*Menu Account start*/
.menuPersonal {
    height: 91px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
}

.menuPersonal .accountIMG, .menuPersonal span, .menuPersonal ul{
    display: inline-block;
    vertical-align: top;
}

.menuPersonal .accountIMG {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}
.menuPersonal ul li {
    display: inline-block;
    line-height: 45px;
    height: 45px;
    margin-right: 30px;
}

.menuPersonal ul li:before {
    content: "";
    border-left: 1px solid #DBDBDB;
    height: 45px;
    position: absolute;
}

.menuPersonal span {
    margin-top: 27px;
    margin-right: 30px;
}

.menuPersonal ul {
    margin-top: 23px;
    font-size: 14px;
    height: 45px;
}

.menuPersonal ul li i {
    margin-right: 15px;
    margin-left: 30px;
    font-size: 25px;
    vertical-align: middle;
    color: #305075;
}

.menuPersonal ul li a{
    color: #000;
    opacity: .87;
}

.menuPersonal ul li a:visited {
    color: #000;
    opacity: .87;
}

.menuPersonal ul li a:active {
    color: #E32444;
}

.menuPersonal ul li a:hover {
    color: #E32444;
}
/*Menu Account end*/
