@{
    ViewBag.Title = "Помощь";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="Windows-1251">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        $(function () {
            $("#accordion").accordion({
                collapsible: true
            });
        });
    </script>
</head>
<body>

    <style>
        .buttonStyle {
            border-style: none;
            border-color: transparent;
            border-width: medium;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            border-radius: 100px;
            width: 25px;
            height: 25px;
            margin-left: 3px;
        }
    </style>
    <h1>
        <a href='@Url.Action("Index")'>
            <img src="~/Content/img/icons/Button_Back.png" class="buttonStyle" />
        </a>
        Помощь
    </h1>

    <div id="accordion">
        <h3>Вопрос 1</h3>
        <div>
            <p>Ответ на вопрос 1</p>
        </div>
        <h3>Вопрос 2</h3>
        <div>
            <p>Ответ на вопрос 2</p>
        </div>
        <h3>Вопрос 3</h3>
        <div>
            <p>Ответ на вопрос 3</p>
        </div>
        <h3>Вопрос 4</h3>
        <div>
            <p>Ответ на вопрос 4</p>
        </div>
        <h3>Вопрос 5</h3>
        <div>
            <p>Ответ на вопрос 5</p><p>Продолжение к ответу на вопрос 5</p>
            <ul>
                <li>1 Дополнение к ответу на вопрос 5</li>
                <li>2 Дополнение к ответу на вопрос 5</li>
                <li>3 Дополнение к ответу на вопрос 5</li>
            </ul>
        </div>
    </div>


</body>
</html>