@model IEnumerable<RosCottedge.Models.House>
@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="map_canvas"></div>
<div class="houses">
  <div class="container">
    <div class="row">
      @foreach (var item in Model)
      {
      <div class="col-md-6 houseItem">
        <div class="imgBox" style="background-image: url('../../Content/img/chubaka.jpg')"></div>
        <div class="ContentBox">
          <h2 class="nameHouse"><a href="/House/Index?houseId=@item.Id">@item.Name</a></h2>
          <span class="address">@item.Locality, @item.Area</span>
          <div class="ratingHouse">
            <h2>Оценка пользователей</h2>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>

