@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="Windows-1251">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../../Scripts/libs/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../Scripts/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Content/style/Site.css">
    <link rel="stylesheet" href="../../Content/style/media.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="formPageWrap">
    <script>
      var random = 1 + Math.floor(Math.random() * 3);
      $('body.formPageWrap').css({
        'background-image':'url("../../Content/img/houseImg/house_'+random+'.jpg")',
        'background-position':'center',
        'background-repeat':'no-repeat',
        'background-attachment':'fixed',
        'background-size':'cover'
      });
    </script>
    <div id="wrapper">
        @RenderBody()
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="../../Scripts/jquery.maskedinput.min.js"></script>
    <script src="../../Scripts/config/error.js" charset="utf-8"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
